# Dependencies
node_modules/
package-lock.json

# Environment Variables & Secrets
.env
.env.local

# Database files
data/
*.db
*.db-journal
*.db-wal
*.db-shm

# Logs
logs/
*.log
npm-debug.log*

# System Files
.DS_Store
Thumbs.db

